@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .phone-input .selected-flag {
    background-color: transparent !important;
  }

  /* remove scrollbar */
  .phone-input .country-list {
    scrollbar-width: none !important;
  }

}
.input {
  @apply bg-[#F6F7FB] p-2 rounded-xl border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
